html{
    background:#dedbc8;
}
body{
    width:80%;
    margin:auto;
}

.header h1{
    margin-top:15px;
    font-size:70px;
    color:#0377fc;
}
.header{
    height:110px;
    text-align:center;
    margin-bottom:10px;
}
ul{
    margin:0px;
    padding:10px;
}
a{
    text-decoration:none;
    color:white;

}
li{
    list-style-type:none;
    display:inline;
    margin-right:80px;
}
.nav{
    background:#F5350A;
    text-align:center;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}
.sidebar{
    background:white;
    width:30%;
    height:700px;
    float:right;
}
.content{
    background:#332F2F;
    color:white;
    height:700px;
    border: 1px solid black;
    padding-left:30px;
    padding-top:20px;
}
footer{
    clear:both;
}
