
html{
    background:#dedbc8;
}
body{
    width:80%;
    margin:auto;
}

li{
    list-style-type:none;
    display:inline;
    margin-right:80px;
}
.nav{
    background:#F5350A;
    text-align:center;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}
.content{
    font-family:DejaVu Sans;
    font-size:0.8em;
    background:#332F2F;
    color:#ccc;
    height:700px;
    padding-left:30px;
    padding-top:20px;
    
}
.content p{
    margin:0;
    text-align:left;

}
ol.skills li{
    display:list-item;
    list-style-type:circle;
}
.content a{
    color:red;
}
.content h3{
    color:green;
}

.header h1{
    color:#332F2F;
    margin-top:30px;
    margin-left:60px;
}
.header{
    height:110px;
    margin-bottom:10px;
}
ul{
    margin:0px;
    padding:10px;
}
a{
    text-decoration:none;
    color:white;

}
.social{
    float:right;
}
